# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


###########################################
#         registration-form               #
###########################################


# dependencies
/registration-form/node_modules
/registration-form/.pnp
/registration-form/.pnp.js

# testing
/registration-form/coverage

# production
/registration-form/build

# misc
/registration-form/.DS_Store
/registration-form/.env.local
/registration-form/.env.development.local
/registration-form/.env.test.local
/registration-form/.env.production.local

/registration-form/npm-debug.log*
/registration-form/yarn-debug.log*
/registration-form/yarn-error.log*



###########################################
#       registration-form-formik          #
###########################################



# dependencies
/registration-form-formik/node_modules
/registration-form-formik/.pnp
/registration-form-formik/.pnp.js

# testing
/registration-form-formik/coverage

# production
/registration-form-formik/build

# misc
/registration-form-formik/.DS_Store
/registration-form-formik/.env.local
/registration-form-formik/.env.development.local
/registration-form-formik/.env.test.local
/registration-form-formik/.env.production.local

/registration-form-formik/npm-debug.log*
/registration-form-formik/yarn-debug.log*
/registration-form-formik/yarn-error.log*




########################
#       login          #
########################



# dependencies
/login-form/node_modules
/login-form/.pnp
/login-form/.pnp.js

# testing
/login-form/coverage

# production
/login-form/build

# misc
/login-form/.DS_Store
/login-form/.env.local
/login-form/.env.development.local
/login-form/.env.test.local
/login-form/.env.production.local

/login-form/npm-debug.log*
/login-form/yarn-debug.log*
/login-form/yarn-error.log*


########################
#       socialapp      #
########################



# dependencies
/socialapp/node_modules
/socialapp/.pnp
/socialapp/.pnp.js

# testing
/socialapp/coverage

# production
/socialapp/build

# misc
/socialapp/.DS_Store
/socialapp/.env.local
/socialapp/.env.development.local
/socialapp/.env.test.local
/socialapp/.env.production.local

/socialapp/npm-debug.log*
/socialapp/yarn-debug.log*
/socialapp/yarn-error.log*

########################
#      calculator      #
########################



# dependencies
/calculator/node_modules
/calculator/.pnp
/calculator/.pnp.js

# testing
/calculator/coverage

# production
/calculator/build

# misc
/calculator/.DS_Store
/calculator/.env.local
/calculator/.env.development.local
/calculator/.env.test.local
/calculator/.env.production.local

/calculator/npm-debug.log*
/calculator/yarn-debug.log*
/calculator/yarn-error.log*


########################
#      click-me        #
########################



# dependencies
/click-me/node_modules
/click-me/.pnp
/click-me/.pnp.js

# testing
/click-me/coverage

# production
/click-me/build

# misc
/click-me/.DS_Store
/click-me/.env.local
/click-me/.env.development.local
/click-me/.env.test.local
/click-me/.env.production.local

/click-me/npm-debug.log*
/click-me/yarn-debug.log*
/click-me/yarn-error.log*


########################
#        foodie        #
########################



# dependencies
/foodie/node_modules
/foodie/.pnp
/foodie/.pnp.js

# testing
/foodie/coverage

# production
/foodie/build

# misc
/foodie/.DS_Store
/foodie/.env.local
/foodie/.env.development.local
/foodie/.env.test.local
/foodie/.env.production.local

/foodie/npm-debug.log*
/foodie/yarn-debug.log*
/foodie/yarn-error.log*


################################
#      redux-counter-demo      #
################################

# dependencies
/redux-counter-demo/node_modules
/redux-counter-demo/.pnp
/redux-counter-demo/.pnp.js

# testing
/redux-counter-demo/coverage

# production
/redux-counter-demo/build

# misc
/redux-counter-demo/.DS_Store
/redux-counter-demo/.env.local
/redux-counter-demo/.env.development.local
/redux-counter-demo/.env.test.local
/redux-counter-demo/.env.production.local

/redux-counter-demo/npm-debug.log*
/redux-counter-demo/yarn-debug.log*
/redux-counter-demo/yarn-error.log*



########################################
#      redux-toolkit-demo-counter      #
########################################

# dependencies
/redux-toolkit-demo-counter/node_modules
/redux-toolkit-demo-counter/.pnp
/redux-toolkit-demo-counter/.pnp.js

# testing
/redux-toolkit-demo-counter/coverage

# production
/redux-toolkit-demo-counter/build

# misc
/redux-toolkit-demo-counter/.DS_Store
/redux-toolkit-demo-counter/.env.local
/redux-toolkit-demo-counter/.env.development.local
/redux-toolkit-demo-counter/.env.test.local
/redux-toolkit-demo-counter/.env.production.local

/redux-toolkit-demo-counter/npm-debug.log*
/redux-toolkit-demo-counter/yarn-debug.log*
/redux-toolkit-demo-counter/yarn-error.log*


